@model IEnumerable<Entities.Category>

@{ var secilenKategori = Url.RequestContext.RouteData.Values["id"];
    if (secilenKategori == null) { secilenKategori = 0; }
}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="~/Img/logo_37yil.svg" height="30" />
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            @foreach (var item in Model)
            {
                if (item.Id == int.Parse(secilenKategori.ToString()))
                {
                    <li class="nav-item active">
                        <a class="nav-link" href="/Category/Detail/@item.Id">@item.Name <span class="sr-only">(current)</span></a>
                    </li>
                }
                else
                {
                    <li class="nav-item">
                        <a class="nav-link" href="/Category/Detail/@item.Id">@item.Name</a>
                    </li>
                }
            }
            <li class="nav-item">
                <a class="nav-link" href="/iletisim">İletişim</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Ürün Ara" aria-label="Ara">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Ara</button>
        </form>
    </div>
</nav>



@*<li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Ürünlerimiz
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Projelerimiz</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Referanslarımız</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="#">Destek</a>
    </li>*@